:root {
	--fg: #edf4f5;
	--bg: #1d2021;
	--bg2: #434343;
	--accent: #3c78d8;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: "Hack", Arial, Helvetica, sans-serif;
	margin: 0;
}

main {
	margin: auto;
	text-align: center;
	max-width: 80%;
}

h1, h2, a, a:visited {
	color: var(--accent);
}

h1, h2 {
	margin-top: 6rem;
}

.topBar {
	overflow: hidden;
	padding: 0.7rem;
}

.topBar img {
	float: right;
	padding: 1rem;
}

.bookmarks img {
	width: 6rem;
}

#titleImage {
	margin-top: 15rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 32rem;
}

#searchInput {
	all: unset;
	text-align: left;
	background: var(--bg2);
	color: var(--fg);
	padding: 0.7rem;
	border-radius: 5px;
	width: 60%;
}

#searchInput::placeholder {
	opacity: 0.5;
}

@media only screen and (max-width: 700px) {
	#title-img {
		width: 70%;
	}
}
